<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>{51.70648,-0.438626}</string>
        <string>{51.707347,-0.439273}</string>
        <string>{51.707035,-0.44074}</string>
    </array>
</plist>