<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Track4 Left</string>
		<key>latitude</key>
		<real>51.552486</real>
		<key>longitude</key>
		<real>-0.210264</real>
		<key>radius</key>
		<integer>100</integer>
	</dict>
	<dict>
		<key>radius</key>
		<integer>100</integer>
		<key>longitude</key>
		<real>-0.20756</real>
		<key>latitude</key>
		<real>51.551619</real>
		<key>title</key>
		<string>Track4 Right</string>
	</dict>
</array>
</plist>
