<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>{51.553180,-0.208697}</string>
        <string>{51.551832,-0.207174}</string>
        <string>{51.551192,-0.208461}</string>
        <string>{51.549284,-0.206165}</string>
    </array>
</plist>