<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>{51.554674,-0.206873}</string>
        <string>{51.555155,-0.204427}</string>
        <string>{51.553954,-0.202861}</string>
        <string>{51.553620,-0.203354}</string>
        <string>{51.551112,-0.202067}</string>
        <string>{51.551526,-0.198998}</string>
        <string>{51.549684,-0.198162}</string>
    </array>
</plist>