<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>{37.917472,23.748810}</string>
        <string>{37.917556,23.745108}</string>
        <string>{37.920273,23.744497}</string>
        <string>{37.942242,23.740903}</string>
        <string>{37.949502,23.737880}</string>
        <string>{37.968662,23.729597}</string>
        <string>{37.984641,23.729570}</string>
        <string>{37.985757,3.730772}</string>
    </array>
</plist>

