<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>title</key>
            <string>Parnassos</string>
            <key>latitude</key>
            <real>38.587095</real>
            <key>longitude</key>
            <real>22.638292</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Kalavryta</string>
            <key>latitude</key>
            <real>37.998731</real>
            <key>longitude</key>
            <real>22.190003</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Vasilitsa</string>
            <key>latitude</key>
            <real>40.046242</real>
            <key>longitude</key>
            <real>21.79121</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Kaimaktsalan</string>
            <key>latitude</key>
            <real>40.875752</real>
            <key>longitude</key>
            <real>21.79121</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Pisoderi</string>
            <key>latitude</key>
            <real>40.747785</real>
            <key>longitude</key>
            <real>21.312586</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        <dict>
            <key>title</key>
            <string>Pigadia</string>
            <key>latitude</key>
            <real>40.653557</real>
            <key>longitude</key>
            <real>21.562093</real>
            <key>radius</key>
            <integer>20000</integer>
        </dict>
        
    </array>
</plist>
